In [113]:
import pandas as pd 
import json 
import numpy as np 
import os 
import matplotlib.pyplot as plt 
import requests
import ast

In [114]:
mm = pd.read_csv('movies_metadata.csv')
mc = pd.read_csv('movies_clean.csv')

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/2775973139.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  mm = pd.read_csv('movies_metadata.csv')

In [115]:
mm.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [116]:
mm.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [117]:
mm.drop(columns=(['adult','imdb_id','original_title','video','homepage']),inplace=True)

In [118]:
json_cols = ['belongs_to_collection','genres','production_countries','production_companies','spoken_languages']

In [119]:
mm['genres']=mm.genres.apply(ast.literal_eval)

In [120]:
mm['belongs_to_collection'] = mm.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [121]:
mm['production_countries'] = mm.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [122]:
mm['production_companies'] = mm.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [123]:
mm['spoken_languages'] = mm.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [124]:
mm.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [125]:
mm['belongs_to_collection'] = mm.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x,dict) else np.nan)

In [126]:
mm['genres'] = mm.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [127]:
mm.genres.value_counts().head(10)

genres
Drama                   5000
Comedy                  3621
Documentary             2723
                        2442
Drama|Romance           1301
Comedy|Drama            1135
Horror                   974
Comedy|Romance           930
Comedy|Drama|Romance     593
Drama|Comedy             532
Name: count, dtype: int64

In [128]:
mm.genres.replace('',np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/1705727044.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.genres.replace('',np.nan,inplace=True)

In [129]:
mm.genres.value_counts().head(10)

genres
Drama                   5000
Comedy                  3621
Documentary             2723
Drama|Romance           1301
Comedy|Drama            1135
Horror                   974
Comedy|Romance           930
Comedy|Drama|Romance     593
Drama|Comedy             532
Horror|Thriller          528
Name: count, dtype: int64

In [130]:
mm['spoken_languages'] = mm.spoken_languages.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [131]:
mm.spoken_languages.replace('',np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/2212574894.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.spoken_languages.replace('',np.nan,inplace=True)

In [132]:
mm['production_countries'] = mm.production_countries.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [133]:
mm.production_countries.value_counts(dropna=False)

production_countries
United States of America                  17851
                                           6282
United Kingdom                             2238
France                                     1654
Japan                                      1356
                                          ...
Romania|United Kingdom|Canada                 1
Finland|Germany|Netherlands                   1
France|Denmark|Spain|Sweden                   1
France|United States of America|Canada        1
Egypt|Italy|United States of America          1
Name: count, Length: 2391, dtype: int64

In [134]:
mm.production_countries.replace('',np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/2493084441.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.production_countries.replace('',np.nan,inplace=True)

In [135]:
mm.production_countries.value_counts(dropna=False)

production_countries
United States of America                  17851
NaN                                        6288
United Kingdom                             2238
France                                     1654
Japan                                      1356
                                          ...
Romania|United Kingdom|Canada                 1
Finland|Germany|Netherlands                   1
France|Denmark|Spain|Sweden                   1
France|United States of America|Canada        1
Egypt|Italy|United States of America          1
Name: count, Length: 2390, dtype: int64

In [136]:
mm['production_companies'] = mm.production_companies.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [137]:
mm.production_companies.value_counts(dropna=False)

production_companies
                                                                                                                                              11875
Metro-Goldwyn-Mayer (MGM)                                                                                                                       742
Warner Bros.                                                                                                                                    540
Paramount Pictures                                                                                                                              505
Twentieth Century Fox Film Corporation                                                                                                          439
                                                                                                                                              ...
HBO Films|Moving Pictures                                                                                                                         1
BIM Distribuzione|Canal+|Alta ProducciÃ³n|Centre National de la CinÃ©matographie (CNC)|RÃ©zo Productions|Compagnie Eric Rohmer (CER)|CinÃ©mage        1
GalatÃ©e Films|Novo Arturo Films|Constantin Film Produktion|PathÃ©|France 2 CinÃ©ma|France 3 Cinema|Logline Studios|Blue Screen Productions          1
Fox Searchlight Pictures|26 Films                                                                                                                 1
Yermoliev                                                                                                                                         1
Name: count, Length: 22673, dtype: int64

In [138]:
mm.production_companies.replace('',np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/1626218141.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.production_companies.replace('',np.nan,inplace=True)

In [139]:
mm.production_companies.value_counts()

production_companies
Metro-Goldwyn-Mayer (MGM)                                                                                                                     742
Warner Bros.                                                                                                                                  540
Paramount Pictures                                                                                                                            505
Twentieth Century Fox Film Corporation                                                                                                        439
Universal Pictures                                                                                                                            320
                                                                                                                                             ...
HBO Films|Moving Pictures                                                                                                                       1
BIM Distribuzione|Canal+|Alta ProducciÃ³n|Centre National de la CinÃ©matographie (CNC)|RÃ©zo Productions|Compagnie Eric Rohmer (CER)|CinÃ©mage      1
GalatÃ©e Films|Novo Arturo Films|Constantin Film Produktion|PathÃ©|France 2 CinÃ©ma|France 3 Cinema|Logline Studios|Blue Screen Productions        1
Fox Searchlight Pictures|26 Films                                                                                                               1
Yermoliev                                                                                                                                       1
Name: count, Length: 22671, dtype: int64

In [140]:
mm.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,Adventure|Fantasy|Family,8844,en,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,1995-12-15,262797249.0,104.0,English|FranÃ§ais,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,Grumpy Old Men Collection,0,Romance|Comedy,15602,en,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Warner Bros.|Lancaster Gate,United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [141]:
mm['budget'] = pd.to_numeric(mm.budget,errors='coerce')

In [142]:
mm.budget.value_counts()

budget
0.0            36573
5000000.0        286
10000000.0       259
20000000.0       243
2000000.0        242
               ...
270000000.0        1
923.0              1
72500000.0         1
2160000.0          1
1254040.0          1
Name: count, Length: 1223, dtype: int64

In [143]:
mm.budget.replace(0,np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/2443669173.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.budget.replace(0,np.nan,inplace=True)

In [144]:
mm['budget'] = mm.budget/1000000

In [145]:
mm.revenue.replace(0,np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/1987603179.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.revenue.replace(0,np.nan,inplace=True)

In [146]:
mm['revenue'] = mm.revenue/1000000

In [147]:
mm.rename(columns={'budget':'budget(Mil)','revenue':'revenue(Mil)'},inplace=True)

In [148]:
mm.runtime.value_counts(dropna=False)

runtime
90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
         ...
410.0       1
283.0       1
238.0       1
566.0       1
780.0       1
Name: count, Length: 354, dtype: int64

In [149]:
mm.runtime.replace(0,np.nan,inplace=True)

/var/folders/9j/yfxjmlc94cd3981dj13h3t880000gn/T/ipykernel_19801/3794373362.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mm.runtime.replace(0,np.nan,inplace=True)

In [150]:
mm.runtime.value_counts()

runtime
90.0     2556
100.0    1470
95.0     1412
93.0     1214
96.0     1104
         ...
370.0       1
680.0       1
289.0       1
281.0       1
780.0       1
Name: count, Length: 352, dtype: int64

In [153]:
mm.id = pd.to_numeric(mm.id,errors='coerce')

In [154]:
mm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget(Mil)            8890 non-null   float64
 2   genres                 43024 non-null  object
 3   id                     45463 non-null  float64
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   poster_path            45080 non-null  object
 8   production_companies   33585 non-null  object
 9   production_countries   39178 non-null  object
 10  release_date           45379 non-null  object
 11  revenue(Mil)           7408 non-null   float64
 12  runtime                43645 non-null  float64
 13  spoken_languages       41508 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(6), object(13)
memory usage: 6.6+ MB

In [155]:
mm.popularity = pd.to_numeric(mm.popularity,errors='coerce')

In [156]:
mm.loc[mm.vote_count==0,'vote_average']

83       0.0
107      0.0
126      0.0
132      0.0
137      0.0
        ...
45432    0.0
45434    0.0
45452    0.0
45464    0.0
45465    0.0
Name: vote_average, Length: 2899, dtype: float64

In [157]:
mm.loc[mm.vote_count==0,'vote_average']=np.nan

In [159]:
mm.release_date = pd.to_datetime(mm.release_date,errors='coerce')

In [167]:
mm.drop_duplicates(inplace=True)

In [168]:
mm.drop_duplicates(subset='id',inplace=True)